---
layout: base
permalink: /index.html
title: "Nilushan Silva, Full Stack Developer"
description: "Nilushan Silva, full stack developer & cloud developer living in Logan Queensland Australia. I have designed and developed reliable, highly scalable, low latency microservice backends for IOT devices."
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light)">{{ title }}</h1>
    </div>
    {# {% svg "divider/waves", null, "seperator" %} #}
  </header>
  <article class="full | region">
    <div class="wrapper flow prose">
      <p>
        Welcome to my personal website! I am a passionate full stack and cloud developer originally from Colombo, Sri Lanka, now
        based in Logan, Queensland, Australia. I enjoy learning and practicing software development in my spare time. This site
        is a showcase of my technical adventures and projects.
      </p>
      <p>
        I used to be a recreational cyclist exploring the beautiful landscapes around Moratuwa, Sri Lanka and South east
        Queensland on bike. I have falled out of it recently but need to get back into cycling.
      </p>
      <img
        src="/assets/images/gallery/nilushan_cycling.jpg"
        alt="Nilushan Silva Cycling brisbane to gold coast"
        class="img-full"/>
      <p>
        Here, you will find my
        <a href='./blog'>blog</a>
        where I share insights and tutorials, a knowledge base with useful resources, and more details about my full stack and
        cloud journey.
      </p>
    </div>
  </article>
    
  <section class="full | region">
    <div class="wrapper flow prose">
      <h2>{{ blog.title }}</h2>
      <!-- blog intro text is optional. -->

      {% if blog.intro %}
      <p>{{ blog.intro }}</p>
      {% endif %}

      <div class="feature | region region-space-l">
        <custom-masonry layout="50-50">
          <!-- loop posts -->
          {% set itemList = collections.posts %} {% asyncEach item in
          itemList.slice(0, 4) %} {% set definedDate = item.date %} {% include
          "partials/card-blog.njk" %} {% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
