---
layout: base
permalink: /resume/index.html
title: Nilushan's Resume
description: "My Resume with a wide range of experience in software development"
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-secondary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light)">{{ title }}</h1>
    </div>

    {% svg "divider/soft-bottom", null, "seperator" %}
  </header>

  <article class="full | region" >
    <div class="wrapper flow prose">
      {% markdown %} {% include "./profile-content.md" %} {% endmarkdown %}
    </div>

  </article>


</div>
